.block-group, .block-group:before, .block-group:after, .block, .block:before, .block:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.block-group {
  *zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-group:after {
  clear: both;
}
.block, .block-group > .block-group {
  float: left;
}
.block {
  width: 100%;
}
.block-group > .block-group {
  clear: none;
  margin: 0 !important;
}
